.browser {
  padding: 0 20px 65px;
}

.browser__label {
  font-size: 18px;
  line-height: 30px;
}

.browser__item {
  text-align: left;
  margin-bottom: 65px;
}

.browser__item:last-child {
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .browser {
    padding: 50px 55px;
  }

  .browser__item {
    margin-bottom: 50px;
  }
}
