.competition-form {
  text-align: center;
  width: 320px;
  margin: 0 auto;
}

.competition-form input {
  outline: none;
}

.competition-form input:hover {
  border: 2px solid #283645;
}

.competition-form input:active {
  border: 2px solid #d22856;
}

.competition-form__button {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  border: 0;
  padding: 15px;
  width: 280px;
  margin-bottom: 40px;
}

.competition-form__button:hover {
  background-color: #1c9b5e;
}

.competition-form__button:active {
  color: #45ad7b;
  background-color: #1c9b5e;
}

.competition-form__button:disabled {
  background-color: #e5e5e5;
}

.competition-form__text {
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.competition-form__text sup {
  color: #d22856;
}

@media (min-width: @tablet-width) {
  .competition-form {
    width: auto;
  }

  .competition-form__wrapper {
    .wrap();
    display: flex;
    flex-wrap: wrap;
  }

  .competition-form__button-text {
    order: 6;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .competition-form__button {
    margin: 0;
    width: 296px;
  }
}

@media (min-width: @desktop-width) {
  .competition-form {
    width: auto;
  }

  .competition-form__wrapper {
    .wrap();
    justify-content: space-between;
    align-items: center;
  }

  .competition-form__button {
    width: 296px;
  }

  .competition-form__button-text {
    width: 940px;
  }
}
