.competition-form {
  text-align: center;
}

.competition-form__button {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  border: 0;
  padding: 15px;
  width: 280px;
}

.competition-form__bottom {
  line-height: 30px;
  text-transform: uppercase;
}

.competition-form__bottom sup {
  color: #d22856;
}
