.competition-form {
  text-align: center;
  width: 320px;
  margin: 0 auto;
}

.competition-form input::-webkit-input-placeholder {
  color: @base-color;
}

.competition-form input::-moz-placeholder {
  color: @base-color;
  opacity: 1;
}

.competition-form input:-ms-input-placeholder {
  color: @base-color;
}

.competition-form input[type=text],
.competition-form input[type=tel],
.competition-form input[type=email] {
  font-family: inherit;
}

.competition-form input:hover {
  border: 2px solid #283645;
}

.competition-form input:active {
  border: 2px solid #d22856;
}

.competition-form__button {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  border: 0;
  padding: 16px;
  width: 280px;
  margin-bottom: 37px;
}

.competition-form__button:hover {
  background-color: #1c9b5e;
}

.competition-form__button:active {
  color: #45ad7b;
  background-color: #1c9b5e;
}

.competition-form__button:disabled {
  background-color: #e5e5e5;
}

.competition-form__text {
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 18px 0;
}

.competition-form__text sup {
  color: #d22856;
}

@media (min-width: @tablet-width) {
  .competition-form {
    width: auto;
  }

  .competition-form__wrapper {
    .wrap();
    display: flex;
    flex-wrap: wrap;
  }

  .competition-form__button-text {
    order: 6;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
  }

  .competition-form__button {
    margin: 0;
    width: 296px;
  }

  .competition-form__text {
    margin: 0;
  }
}

@media (max-width: 1200px) {
  .competition-form__text span {
    .visually-hidden;
  }
}


@media (min-width: @desktop-width) {
  .competition-form {
    width: auto;
  }

  .competition-form__wrapper {
    .wrap();
    justify-content: space-between;
    align-items: center;
  }

  .competition-form__button {
    width: 296px;
  }

  .competition-form__button-text {
    width: 940px;
    margin: 0;
  }
}
