.contacts {
  text-align: center;
  padding: 44px 33px;
}

.contacts__title {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 34px;
}

.contacts__item {
  font-size: 18px;
  font-weight: bold;
}

.contacts__text {
  font-size: 24px;
  line-height: 33px;
  color: #d22856;
}

.contacts__list {
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding: 46px 33px 25px;
  }

  .contacts__list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contacts__title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 43px;
    padding: 0 21px;
  }

  .contacts__item {
    margin-bottom: 2px;
  }

  .contacts__list {
    margin-bottom: 45px;
  }

  .contacts__list:last-child {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .contacts__title {
    font-size: 50px;
    line-height: 60px;
    padding: 0 200px;
  }

  .contacts__list:nth-child(2) {
    order: 3;
  }
}
