@media (max-width: 660px) {
  .effects {
    .visually-hidden;
  }
}

.effects__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
  margin: 0 0 10px 0;
}

.effects__title-hour {
  display: block;
}

.effects__about {
  color: #d22856;
  text-decoration: underline;
}

@media (min-width: @tablet-width) {
  .effects {
    width: auto;
  }

  .effects__wrapper {
    .wrap();
  }

  .effects__title-hour {
    display: inline-block;
  }

  .effects__content {
    position: relative;
    padding: 97px 24px 50px 310px;
  }

  .effects__content::after {
    width: 205px;
    height: 205px;
    position: absolute;
    top: 114px;
    left: 16px;
    content: "24";
    color: #d22856;
    font-size: 95px;
    font-weight: 700;
    text-align: center;
    line-height: 165px;
    border: 14px solid #d22856;
    border-radius: 50%;
  }

  .effects__content::before {
    width: 238px;
    height: 276px;
    position: absolute;
    content: "";
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: 238px;
    top: 60px;
    left: 0;
  }

  .effects__title {
    margin-bottom: 10px;
  }

  .effects__text {
    margin: 0 0 11px 0;
  }
}

@media (min-width: @desktop-width) {
  .effects {
    background-color: #f2f2f2;
  }

  .effects__wrapper {
    .wrap();
  }

  .effects__content {
    padding: 116px 0 114px 365px;
    position: relative;
  }

  .effects__title {
    margin-bottom: 23px;
  }

  .effects__text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 32px;
  }

  .effects__about {
    font-size: 18px;
    line-height: 30px;
  }

  .effects__content::before {
    width: 298px;
    height: 345px;
    background-size: 298px;
    top: 28px;
    left: 0;
  }

  .effects__content::after {
    width: 250px;
    height: 250px;
    top: 97px;
    left: 25px;
    font-size: 120px;
    font-weight: 700;
    line-height: 205px;
    border: 15px solid #d22856;
    border-radius: 50%;
  }
}
