.emotions__description {
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

.emotions__field {
  font-size: 18px;
  line-height: 30px;
  width: 276px;
  height: 196px;
  text-align: center;
}
