.features {
  background-color: #f2f2f2;
  text-align: center;
  width: 320px;
  margin: 0 auto;
  padding-top: 80px;
}

.features__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 9px;
}

.features__essence {
  color: @base-color;
  padding: 0 27px;
  margin-bottom: 28px;
}

.features__list--last .features__essence {
  margin-bottom: 40px;
}

.features__example-image {
  margin-bottom: -48px;
}

.features__example {
  overflow: hidden;
}

@media (min-width: @tablet-width) {
  .features {
    width: auto;
    padding-top: 77px;
  }

  .features__wrapper {
    .wrap();
    text-align: left;
    display: flex;
    justify-content: space-between;
  }

  .features__list {
    width: 295px;
  }

  .features__example {
    order: -1;
  }

  .features__essence {
    padding: 0;
    margin-bottom: 32px;
  }
}

@media (max-width: 1200px) {
  .features__example-image:not(:first-child) {
    .visually-hidden
  }
}

@media (min-width: @desktop-width) {
  .features {
    width: auto;
  }

  .features__wrapper {
    .wrap();
    display: flex;
    flex-direction: column;
  }

  .features__list-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 65px 0 50px;
  }

  .features__title {
    font-size: 30px;
  }

  .features__essence {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
  }

  .features__list {
    width: 260px;
    text-align: center;
  }

  .features__example {
    display: flex;
    justify-content: space-around;
  }
}
