.features {
  background-color: #f2f2f2;
  text-align: center;
  width: 320px;
  margin: 0 auto;
  padding-top: 80px;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0 -66px;
  background-size: 1200px 94px;
}

.features__example-photo:nth-child(2),
.features__example-photo:nth-child(3) {
  display: none;
}

.features__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 9px;
}

.features__essence {
  color: @base-color;
  padding: 0 27px;
  margin-bottom: 28px;
}

.features__list--last .features__essence {
  margin-bottom: 40px;
}

.features__example-image {
  margin-bottom: -48px;
}

.features__example {
  overflow: hidden;
}

.features__example-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .features {
    width: auto;
    padding: 0;
    background-position: 0 -11px;
  }

  .features__wrapper {
    .wrap();
    text-align: left;
    display: flex;
    justify-content: space-between;
  }

  .features__list-wrapper {
    padding-top: 96px;
    width: 309px;
  }

  .features__example {
    order: -1;
  }

  .features__example-image {
    margin: 0;
    padding-top: 28px;
    display: block;
  }

  .features__essence {
    padding: 0;
    margin-bottom: 32px;
  }
}

@media (min-width: @desktop-width) {
  .features {
    width: auto;
    background-position: 132px 0;
  }

  .features__wrapper {
    .wrap();
    display: flex;
    flex-direction: column;
  }

  .features__list-wrapper {
    display: flex;
    padding: 55px 10px 0;
    width: 100%;
    justify-content: space-between;
  }

  .features__title {
    font-size: 30px;
    padding: 0 25px;
    margin-bottom: 27px;
  }

  .features__essence {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
    padding: 0 21px;
  }

  .features__list {
    text-align: center;
    width: 280px;
  }

  .features__example {
    display: flex;
    justify-content: space-around;
  }

  .features__example-image {
    padding-top: 0;
  }

  .features__example-photo:nth-child(2),
  .features__example-photo:nth-child(3) {
    display: block;
  }
}
