.features {
  background-color: #f2f2f2;
  text-align: center;
  width: 320px;
  margin: 0 auto;
  padding-top: 60px;
}

.features__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 17px;
}

.features__essence {
  line-height: 30px;
  color: @base-color;
  padding: 0 27px;
  margin-bottom: 43px;
}

.features__example-image {
  margin-bottom: -44px;
}

.features__example {
  overflow: hidden;
}

@media (min-width: @tablet-width) {
  .features {
    width: auto;
  }

  .features__wrapper {
    width: 620px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    justify-content: space-between;
  }

  .features__list {
    width: 290px;
  }

  .features__example {
    order: -1;
  }

  .features__essence {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
   .features {
    width: auto;
  }

  .features__wrapper {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .features__list-wrapper {
    display: flex;
    justify-content: space-around;
  }

  .features__title {
    font-size: 30px;
  }

  .features__essence {
    font-size: 18px;
    line-height: 30px;
  }

  .features__list {
    width: 320px;
    text-align: center;
    padding: 60px 43px 0;
  }
}


