.loading-photo {
  background-color: #f2f2f2;
  text-align: center;
}

.loading-photo__post {
  border: 3px solid #d22856;
  color: #d22856;
}

.loading-photo__annulment {
  border: 3px solid @base-color;
  color: @base-color;
  opacity: 0.1;
}
