.main-nav {
  position: relative;

  width: 320px;
  margin: 0 auto;
  margin-bottom: -66px;

  background-color: @base-color;
}

.main-nav--closed {
  background-color: transparent;
}

.main-nav--closed .main-nav__button {
  position: relative;

  top: 0;

  display: block;
  height: 66px;
  width: 100%;
  padding: 0;
  border: none;
  cursor: pointer;

  background-color: #1d2631;
  opacity: 0.5;
}

.main-nav--closed .main-nav__button::before {
  content: "";

  position: absolute;
  top: 20px;
  right: 17px;

  width: 50px;
  height: 4px;

  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav--opened .main-nav__button {
  position: relative;

  background-color: @base-color;

  display: block;
  height: 69px;
  width: 100%;
  padding: 0;
  border: none;
  border-bottom: 1px solid #000000;
  cursor: pointer;
}

.main-nav--opened .main-nav__button::before,
.main-nav--opened .main-nav__button::after {
  content: "";

  position: absolute;
  top: 32px;
  right: 18px;

  width: 31px;
  height: 4px;

  background-color: #ffffff;
}

.main-nav--opened .main-nav__button::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-nav--opened .main-nav__button::after {
  transform: rotate(-45deg);
}

.main-nav--closed .main-nav__button:hover::before {
  background-color: #d22856;
  box-shadow: 0 8px 0 0 #d22856, 0 16px 0 0 #d22856;
}

.main-nav--closed .main-nav__button:active::before {
  background-color: rgba(210, 40, 86, 0.3);
  box-shadow: 0 8px 0 0 rgba(210, 40, 86, 0.3), 0 16px 0 0 rgba(210, 40, 86, 0.3);
}

.main-nav--opened .main-nav__button:hover::before,
.main-nav--opened .main-nav__button:hover::after {
  background-color: #d22856;
}

.main-nav--opened .main-nav__button:active::before,
.main-nav--opened .main-nav__button:active::after {
  background-color: rgba(210, 40, 86, 0.3);
}

@media (max-width: @mobile-tablet-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}

//.main-nav--nojs .main-nav__button {
//  display: none;
//}

//.main-nav--nojs .site-list__item {
//  display: block;
//}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    margin-bottom: -110px;
  }

  .main-nav__wrapper {
    width: 660px;
    margin: 0 auto;
  }

  .main-nav--closed .main-nav__button {
    height: 110px;
    background-color: #10161b;
    opacity: 0.5;

  }

  .main-nav--closed .main-nav__button::before {
    top: 43px;
  }
}

@media (max-width: 1200px) {
  .main-nav__logo {
    .visually-hidden;
  }
}

@media (min-width: 1200px) {
  .main-nav--opened .main-nav__button,
  .main-nav--closed .main-nav__button {
    .visually-hidden;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    background-color: #10161b;
    opacity: 0.5;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__logo img {
    margin-top: 30px;
  }
}
