.page-footer-add {
  width: 320px;
  margin: 0 auto;
}

.page-footer-add__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0 20px;
}

.page-footer-add__copyright-text {
  line-height: 18px;
  margin-right: 13px;
}

.page-footer-add__logo {
  font-size: 0;
  cursor: pointer;
  margin-bottom: 29px;
}

.page-footer-add__copyright-button {
  font-size: 0;
}

.page-footer-add__logo svg {
  pointer-events: none;
}

.page-footer-add__logo:hover {
  .page-footer-add__logo-pink {
    fill: #d22856;
  }
}

.page-footer-add__logo:active {
  opacity: 0.3;

  .page-footer-add__logo-pink {
    fill: #283645;
  }
}

.page-footer-add__copyright {
  display: flex;
  align-items: center;
}

.page-footer-add__copyright-button:hover path {
  fill: #283645;
}

.page-footer-add__copyright-button:active path {
  fill: #bec2c7;
}

.page-footer-add__copyright-button svg {
  pointer-events: none;
}

@media (min-width: @tablet-width) {
  .page-footer-add {
    width: auto;
  }

  .page-footer-add__wrapper {
    .wrap();
    flex-direction: row;
    justify-content: space-between;
  }
}
