.page-footer-add__copyright-text {
  line-height: 18px;
}

.page-footer-add {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-footer-add {
    width: auto;
  }

  .page-footer-add__wrapper {
    .wrap();
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
