.page-footer__copyright-text {
  line-height: 18px;
}

@media (max-width: 660px) {
  .page-footer {
    .visually-hidden
  }
}

.page-footer--add {
  width: 320px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: auto;
  }

  .page-footer__wrapper {
    .wrap();
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 127px;
  }
}
