.page-main__text {
  width: 320px;
  margin: 0 auto;
}

.page-main__text-top-photo {
  line-height: 30px;
  text-align: center;
  padding: 45px 40px 50px;
}

.page-main__text-top {
  line-height: 30px;
  text-align: center;
  padding: 45px 25px 36px;
}

.page-main__text-bottom {
  line-height: 30px;
  text-align: center;
  padding: 41px 30px 43px;

  span {
    display: block;
  }
}

@media (max-width: 660px) {
  .page-main__text-top span {
    .visually-hidden;
  }
}

@media (min-width: @tablet-width) {
  .page-main__text {
    width: auto;
  }

  .page-main__text-wrapper {
    .wrap();
  }

  .page-main__text-top {
    font-size: 18px;
    padding: 92px 42px 72px;
  }

  .page-main__text-top-photo {
    font-size: 18px;
    padding: 91px 40px 75px;
  }

  .page-main__text-bottom {
    font-size: 18px;
    padding: 46px 148px 70px;
  }

  .page-main__text-bottom {
    padding: 46px 88px 70px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__text {
    width: auto;
  }

  .page-main__text-wrapper {
    .wrap();
  }

  .page-main__text-top {
    padding: 90px 111px 96px;
  }

  .page-main__text-top-photo {
    padding: 90px 165px 88px;
  }

  .page-main__text-bottom {
    padding: 10px 88px 67px;
  }

  .page-main__text-content {
    padding: 93px 95px 73px;
  }

  .page-main__text-content--photo {
    padding: 93px 165px 90px;
  }
}
