.page-main__text {
  width: 320px;
  margin: 0 auto;
}

.page-main__text-top-photo {
  line-height: 30px;
  text-align: center;
  padding: 46px 40px 52px;
}

.page-main__text-top {
  line-height: 30px;
  text-align: center;
  padding: 46px 25px 35px;
}

.page-main__text-bottom {
  line-height: 30px;
  text-align: center;
  padding: 38px 57px 43px;
}


@media (max-width: 660px) {
  .page-main__text-top span {
    .visually-hidden;
  }
}

@media (min-width: @tablet-width) {
  .page-main__text {
    width: auto;
  }

  .page-main__text-wrapper {
    .wrap();
  }

  .page-main__text-top {
    font-size: 18px;
    padding: 90px 40px 76px;
  }

  .page-main__text-top-photo {
    font-size: 18px;
    padding: 95px 40px 75px;
  }

  .page-main__text-bottom {
    font-size: 18px;
    padding: 46px 148px 70px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__text {
    width: auto;
  }

  .page-main__text-wrapper {
    .wrap();
  }

  .page-main__text-top {
    padding: 90px 168px 91px;
  }

  .page-main__text-content {
    padding: 93px 95px 73px;
  }

  .page-main__text-content--photo {
    padding: 93px 165px 90px;
  }
}
