.personal-contacts {
  text-align: left;
  padding: 0;
}

.personal-contacts__item {
  display: flex;
  flex-direction: column;
}

.personal-contacts__label {
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-left: 42px;
}

.personal-contacts__input {
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  width: 280px;
  margin-bottom: 25px;
  margin-left: 20px;
  padding: 13px 25px;
  box-sizing: border-box;
}

@media (max-width: 660px) {
  .personal-contacts__description {
    .visually-hidden
  }
}

@media (min-width: @tablet-width) {
  .personal-contacts {
    width: 620px;
    order: 3;
    border: 2px solid #e5e5e5;
    padding: 54px 60px 0;
    margin-bottom: 60px;
  }

  .personal-contacts__wrapper {
    position: relative;
  }

  .personal-contacts__item::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    right: 2px;
    bottom: 82px;
    background: #e5e5e5;
  }

  .personal-contacts__item--tel::before {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .personal-contacts__item--mail::before {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .personal-contacts__item {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .personal-contacts__label {
    margin: 0 0 36px 20px;
  }

  .personal-contacts__input {
    margin: 0 0 17px 0;
    width: 500px;
    padding: 13px 0 13px 21px;
  }

  .personal-contacts__description {
    line-height: 30px;
    color: #d22856;
    text-transform: uppercase;
    padding: 0 40px;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .personal-contacts {
  width: 100%;
  margin-bottom: 50px;
  padding: 50px 60px 0 60px;
  }

  .personal-contacts__description {
    padding: 0 32px;
  }

  .personal-contacts__input {
    width: 374px;
    margin: 0 0 15px;
  }

  .personal-contacts__label {
    margin: 0 0 15px 24px;
  }

  .personal-contacts__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .personal-contacts__item::before {
    bottom: 60px;
  }
}
