.promo {
  background-color: #1d2631;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom 271px right 63px, top 0 center;
  background-repeat: no-repeat;
  background-size: 258px auto, 700px auto;
  width: 320px;
  margin: 0 auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
  }
}

.promo__attachment {
  padding: 488px 20px 31px;
  text-align: center;
}

.promo__download {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  background-color: transparent;
  padding: 16px 35px;
  border-radius: 50px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  border: 3px solid #ffffff;
}

.promo__download:hover {
  background-color: #ffffff;
  color: #d22856;
}

.promo__download:active {
  background-color: #ffffff;
  color: rgba(210, 40, 86, 0.3);
}

.promo__list {
  padding: 35px 38px 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}

.promo__link {
  display: inline-block;
}

.promo__link--iphone {
  height: 57px;
  width: 47px;
  background: url("../img/logo-apple.svg") no-repeat;
}

.promo__link--android {
  height: 47px;
  width: 43px;
  background: url("../img/logo-android.svg") no-repeat;
}

.promo__link--windows {
  height: 41px;
  width: 44px;
  background: url("../img/logo-microsoft.svg") no-repeat;
}

.promo__for {
  color: #ffffff;
  font-weight: 300;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .promo {
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: bottom 0 center, bottom 0 center;
    width: auto;
    padding: 162px 0 109px;
    background-size: 700px auto, 1200px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .promo__wrapper {
    .wrap();
  }

  .promo__attachment {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 300px;
  }

  .promo__download {
    padding: 16px 45px;
  }

  .promo__for {
    font-size: 18px;
    line-height: 24px;
  }

  .promo__title {
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
    padding: 0 32px;
    margin-bottom: 30px;
  }

  .promo__list {
    padding: 48px 48px 30px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-position: bottom 0 center, bottom 0 center;
    width: auto;
    padding: 167px 0 121px;
    background-size: 1050px auto, 2560px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .promo__attachment {
    padding: 0;
    width: 300px;
  }

  .promo__wrapper {
    .wrap();
  }

  .promo__title {
    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
    margin-bottom: 52px;
  }

  .promo__download {
    font-size: 21px;
    padding: 16px 27px;
  }

  .promo__list {
    padding: 66px 48px 50px;
  }

  .promo__for {
    font-size: 18px;
    line-height: 24px;
  }
}
