.promo-photo {
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top 0 center;
  background-repeat: no-repeat;
  background-size: 700px auto;
  height: 236px;
  width: 320px;
  margin: 0 auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.promo-photo__title {
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  padding: 96px 45px 52px 45px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .promo-photo {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    width: auto;
    min-height: 440px;
    background-size: 1200px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .promo-photo__wrapper {
    .wrap();
  }

  .promo-photo__title {
    font-size: 50px;
    line-height: 60px;
    padding: 179px 8px 80px;
  }
}

@media (min-width: @desktop-width) {
  .promo-photo {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    width: auto;
    min-height: 395px;
    background-size: 2560px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .promo-photo__wrapper {
    .wrap();
  }

  .promo-photo__title {
    padding: 172px 8px 103px;
  }

  .promo-photo__title--photo {
    font-size: 50px;
    line-height: 60px;
    padding: 173px 150px 80px;
  }
}
