.promo {
  background-color: #1d2631;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom 271px left 0, top 0 center;
  background-repeat: no-repeat;
  height: 733px;
}

.promo__attachment {
  padding: 508px 44px 33px;
}

.promo__attachment-download {
  color: #ffffff;
  border: 3px solid #ffffff;
}

.promo__attachment-for {
  color: #ffffff;
  text-align: center;
}

.promo__title {
  font-size: 24px;
  line-height: 18px;
  color: #ffffff;
}
