.promo {
  background-color: #1d2631;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom 271px left 0, top 0 center;
  background-repeat: no-repeat;
  width: 320px;
  margin: 0 auto;
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
    background-size: 314px auto, 462px auto;
  }
}

.promo__attachment {
  padding: 488px 20px 30px;
  text-align: center;
}

.promo__attachment-download {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  background-color: transparent;
  padding: 16px 35px;
  border-radius: 50px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  border: 3px solid #ffffff;
}

.promo__attachment-download:hover {
  background-color: #ffffff;
  color: #d22856;
}

.promo__attachment-download:active {
  background-color: #ffffff;
  color: rgba(210, 40, 86, 0.3);
}

.promo__attachment-list {
  padding: 34px 37px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promo__attachment-link {
  display: inline-block;
}

.promo__attachment-link--iPhone {
  height: 57px;
  width: 47px;
  background: url("../img/logo-apple.svg") no-repeat;
}

.promo__attachment-link--android {
  height: 47px;
  width: 43px;
  background: url("../img/logo-android.svg") no-repeat;
}

.promo__attachment-link--windows {
  height: 41px;
  width: 44px;
  background: url("../img/logo-microsoft.svg") no-repeat;
}

.promo__attachment-for {
  color: #ffffff;
}

.promo__title {
  font-size: 24px;
  line-height: 18px;
  color: #ffffff;
}

@media (max-width: 660px) {
  .promo__attachment-title {
  .visually-hidden;
  }
}

@media (min-width: @tablet-width) {
  .promo {
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: bottom 0 left 5px, bottom 0 center;
    width: auto;
    padding: 202px 0 109px;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
      background-size: 545px auto, 729px auto;
    }
  }

  .promo__wrapper {
    .wrap();
  }

  .promo__attachment {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 300px;
  }

  .promo__attachment-download {
    padding: 16px 45px;
  }

  .promo__attachment-for {
    font-size: 18px;
    line-height: 24px;
  }

  .promo__attachment-title {
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
    padding: 0 32px;
    margin-bottom: 30px;
  }

  .promo__attachment-list {
    padding: 42px 48px 38px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-position: bottom 0 left 180px, bottom 0 center;
    width: auto;
    padding: 221px 0 120px;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop@2x.jpg");
      background-size: 645px auto, 853px auto;
    }
  }

  .promo__attachment {
    padding: 0;
    width: 300px;
  }

  .promo__wrapper {
    .wrap();
  }

  .promo__attachment-title {
    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
    margin-bottom: 52px;
  }

  .promo__attachment-download {
    font-size: 21px;
    padding: 16px 27px;
  }

  .promo__attachment-list {
    padding: 66px 48px 57px;
  }

  .promo__attachment-for {
    font-size: 18px;
    line-height: 24px;
  }
}
