.reviews {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.reviews__wrapper input[type=radio] {
  display: none;
}

.reviews__pagination {
  width: 200px;
  height: 10px;
  margin: 0 0 0 -100px;
  position: absolute;
  left: 50%;
  text-align: center;
  bottom: 56px;
}

.reviews__pagination label {
  width: 6px;
  height: 6px;
  margin: 0 6px;
  display: inline-block;
  background: #b5b9be;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: content-box;
  vertical-align: middle;
}

#btn-11:checked ~ .reviews__pagination label[for="btn-11"], #btn-22:checked ~ .reviews__pagination label[for="btn-22"], #btn-33:checked ~ .reviews__pagination label[for="btn-33"] {
  border: 3px solid #283645;
  background: transparent;
}

#btn-22:checked ~ .reviews__list ul {
  transform: translateX(-33%);
}

.reviews__list ul {
  width: 320%;
  display: flex;
}

.reviews__list {
  overflow: hidden;
}

.reviews__author-name {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
  color: #000000;
  margin-bottom: 12px;
}

.reviews__info {
  text-align: center;
}

.reviews__text {
  line-height: 30px;
}

@media (max-width: 660px) {
  .reviews__author {
    .visually-hidden;
  }
}

@media (min-width: @tablet-width) {
  .reviews {
    width: auto;
  }

  .reviews__wrapper {
    width: 620px;
  }

  .reviews__list {
    padding: 76px 0 21px;
  }

  .reviews__info {
    display: flex;
    flex-direction: column;
  }

  .reviews__text {
    font-size: 18px;
    margin-bottom: 35px;
  }

  .reviews__author-name {
    margin-bottom: 2px;
    order: 2;
  }

  .reviews__author {
    line-height: 30px;
    order: 3;
  }
}

@media (max-width: 1200px) {
  .reviews__button {
    .visually-hidden;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: auto;
  }

  .reviews__wrapper {
    width: 940px;
    margin: 0 auto;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author {
    font-size: 18px;
  }

  .reviews__text {
    font-size: 18px;
  }

  .reviews__list {
    padding: 190px 130px 0 130px;
  }

  .reviews__toggles {
    .visually-hidden;
  }
}
