.user-photo__descr {
  background-color: #f2f2f2;
}

.user-photo__author {
  font-weight: bold;
  font-style: normal;

  time {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
  }
}

.user-photo__like-number {
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856;
}
