.user-photo {
  width: 320px;
  margin: 0 auto;
}

.user-photo__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.user-photo__descr {
  background-color: #f2f2f2;
  padding: 17px 19px 21px;
}

.user-photo__like-number::before {
  position: absolute;
  content: "";
  background: url("../img/icon-heart.svg") no-repeat;
  width: 13px;
  height: 12px;
  bottom: 0;
  left: -33px;
}

.user-photo__like-number {
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856;
}

.user-photo__author {
  font-weight: bold;
  font-style: normal;
  text-align: left;

  time {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
  }
}

.user-photo__like {
  padding: 0 31px;
  margin-top: 9px;
}

.user-photo__item {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.user-photo__item:last-child {
  margin-bottom: 0;
}

.user-photo__image {
  display: block;
  margin: 0 auto;
}

.user-photo__photo--descr {
  position: relative;
}

.user-photo__photo--descr::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "панорама дня";
  width: 140px;
  height: 36px;
  font-size: 12px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #d22856;
}

.user-photo__photo {
  display: flex;
  justify-content: center;
}

.user-photo__quote {
  margin-bottom: 8px;
}

@media (min-width: @tablet-width) {
  .user-photo {
    width: auto;
  }

  .user-photo__wrapper {
    .wrap();
    justify-content: space-between;
  }

  .user-photo__descr {
    width: 100%;
    min-height: 155px;
    padding: 23px 28px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .user-photo__photo--descr::before {
    right: 40px;
    top: 57px;
  }

  .user-photo__like-number::before {
    left: 225px;
    bottom: 0;
  }

  .user-photo__descr--day .user-photo__like-number::before {
    top: 0;
    left: 100px;
  }

  .user-photo__descr--day {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 120px;
  }

  .user-photo__descr--day .user-photo__quote {
    order: 2;
  }

  .user-photo__descr--day .user-photo__like {
    margin: 0;
  }

  .user-photo__item:first-child {
    width: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 52px;
  }

  .user-photo__like-sum:first-child {
    margin-right: 30px;
  }

  .user-photo__item {
    width: 300px;
    margin: 0 0 20px 0;
  }

  .user-photo__like {
    margin-top: 10px;
    padding: 0;
  }

  .user-photo__quote {
    min-height: 48px;
    margin-bottom: auto;
  }

  .user-photo__like-number--day {
    font-weight: normal;
  }
}

@media (min-width: @desktop-width) {
  .user-photo {
    width: auto;
  }

  .user-photo__wrapper {
    .wrap();
  }

  .user-photo__photo--descr::before {
    right: 130px;
    top: 57px;
  }

  .user-photo__descr--day {
    width: 940px;
    min-height: 96px;
    flex-wrap: no-wrap;
  }

  .user-photo__item:first-child {
    width: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-photo__image:first-child {
    width: 1200px;
  }

  .user-photo__item {
    width: 300px;
    margin: 0 0 50px 0;
  }

  .user-photo__like-numer::before {
    left: 228px;
    bottom: 0;
  }

  .user-photo__descr--day .user-photo__like-number::before {
    top: 2px;
    left: 100px;
  }
}
