.user-photo {
  width: 320px;
  margin: 0 auto;
}

.user-photo__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.user-photo__descr {
  background-color: #f2f2f2;
  padding: 17px 17px 21px;
}

.user-photo__item--big .user-photo__descr {
  width: 280px;
  margin: 0 auto;
}

.user-photo__like-number::before {
  position: absolute;
  content: "";
  background: url("../img/icon-heart.svg") no-repeat;
  width: 13px;
  height: 12px;
  bottom: 1px;
  left: -31px;
}

.user-photo__like-number {
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856;
}

.user-photo__author {
  font-weight: bold;
  font-style: normal;
  text-align: left;

  span {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
  }
}

.user-photo__like {
  padding: 0 31px;
  margin: 9px 0 0 0;
}

.user-photo__item {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.user-photo__item:last-child {
  margin-bottom: 0;
}

.user-photo__image {
  display: block;
  margin: 0 auto;
}

.user-photo__big::before {
  position: absolute;
  top: 0;
  right: 20px;
  content: "панорама дня";
  width: 140px;
  height: 36px;
  font-size: 12px;
  line-height: 34px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #d22856;
}

.user-photo__big {
  position: relative;
  width: 100%;
}

.user-photo__photo {
  display: flex;
  justify-content: center;
}

.user-photo__quote {
  margin: 0 0 8px 0;
}

.user-photo__item--big {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .user-photo {
    width: auto;
  }

  .user-photo__wrapper {
    .wrap();
    justify-content: space-between;
  }

  .user-photo__descr {
    width: 100%;
    min-height: 155px;
    padding: 22px 28px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .user-photo__image {
    width: 100%;
    height: auto;
  }

  .user-photo__item--big .user-photo__image {
    height: 510px;
  }

  .user-photo__item--big .user-photo__like-number::before {
    left: 104px;
    bottom: 0;
  }

  .user-photo__like-number::before {
    bottom: 5px;
    left: 227px;
  }

  .user-photo__big::before {
    top: 57px;
    right: 20px;
  }

  .user-photo__item--big .user-photo__descr {
    width: 620px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 120px;
  }

  .user-photo__item--big .user-photo__quote {
    order: 2;
  }

  .user-photo__item--big .user-photo__like {
    margin: 0;
  }

  .user-photo__like-sum:first-child {
    margin-right: 33px;
  }

  .user-photo__item {
    width: 300px;
    margin: 0 0 20px 0;
  }

  .user-photo__like {
    margin-top: 10px;
    padding: 0;
  }

  .user-photo__quote {
    min-height: 48px;
    margin-bottom: auto;
  }

  .user-photo__like-number--day {
    font-weight: normal;
  }

  .user-photo__item--big {
    width: 100%;
    margin-bottom: 52px;
  }
}

@media (min-width: @desktop-width) {
  .user-photo {
    width: auto;
  }

  .user-photo__wrapper {
    .wrap();
  }

  .user-photo__item--big .user-photo__descr {
    width: 940px;
    min-height: 96px;
    flex-wrap: no-wrap;
  }

  .user-photo__item {
    width: 300px;
    margin: 0 0 50px 0;
  }

  .user-photo__item--big .user-photo__quote {
    min-height: 0;
  }

  .user-photo__like-number::before {
    left: 227px;
    bottom: 1px;
  }

  .user-photo__item--big .user-photo__like-number::before {
    left: 102px;
    bottom: 3px;
  }

  .user-photo__big::before {
    top: 54px;
    right: 129px;
  }

  .user-photo__descr {
    padding: 24px 28px;
  }

  .user-photo__item--big {
    width: 100%;
    margin-bottom: 49px;
  }
}
